.ragnarokApp {
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden;
}

.frame {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    background: #000;
}
